---
layout: default
---

{% assign organiser = site.data.organisers.[page.organiser] %}

<article class="post tag-music tag-science" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="cover post-header">
    <div class="post-bg" style="background-image:url({{ site.baseurl }}/{{ page.cover }});"></div>

    <div class="cover-content">
      <div class="inner">
        <h1 class="post-title">{{ page.title }}</h1>

        <div class="post-meta">
        <span class="post-author"><a href="{{ site.baseurl }}/about" itemscope itemtype="http://schema.org/Person">  {{organiser.name}}</a></span> 
        </div><!-- .post-meta -->

        <a href="#" class="scroll-down square light icon-chevron-down"><span class="screen-reader-text">Scroll Down</span></a>
      </div><!-- .inner -->
    </div><!-- .cover-content -->
  </header><!-- .cover -->

  <div class="post-content inner">
    <p></p>

    <p>
      {{ content }}
    </p>

  </div>
</article>


<ul class="pager">
  {% if page.previous.url %}
    <li class="previous">
      <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
    </li>
  {% endif %}

  {% if page.next.url %}
    <li class="next">
      <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
    </li>
  {% endif %}
</ul>
